.hidden-layout
section.catalog
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Наша команда
		
		h1.page-title Мясо, рыба, птица
		.catalog-block
			.row
				.col-xl-3
					include _filter-panel.pug
				.col-xl-9
					.catalog-content
						.content-filters
							.filter-display
								button.view-table.active
									+table
								button.view-list
									i.fas.fa-list-ul
							.filter-select.form-select
								.form-select__icon
									i.fas.fa-angle-down
								input(type="text" name="city" placeholder="Выводить сначала" autocomplete="off")
								ul.form-select__options
									li Самые дорогие
									li Самые дешевые
									li Популярные
									li В наличии
							
							.filter-select--count
								p Товаров на странице:
								.count-buttons
									button 12
									button 24
									button 36
									button Все
						.content-badges
							.badge
								p Мясо
								+close
							.badge
								p Телятина
								+close
							.badge
								p Говядина
								+close
							.badge
								p Акции
								+close
						.content-cards
							.row
								.col-md-6.col-xl-4
									+main-product-card('Лопатка говядина', 'catalog-products/1', 1000, 'Фермерское мясо', 630)
								.col-md-6.col-xl-4
									+main-product-card(' Говядина на костях', 'catalog-products/2', 1000, 'Фермерское мясо', 500, 800)
								.col-md-6.col-xl-4
									+main-product-card(' Вырезка из шеи говядины', 'catalog-products/3',1000, 'Фермерское мясо', 350)
								.col-md-6.col-xl-4
									+main-product-card('Мякоть говядины', 'catalog-products/4', 1000, 'Фермерское мясо', 630)
								.col-md-6.col-xl-4
									+main-product-card('Телятина корейка', 'catalog-products/5', 1000, 'Фермерское мясо', 700)
								.col-md-6.col-xl-4
									+main-product-card(' Антрекот (говядина) ', 'catalog-products/6', 1000, ' Фермерское мясо', 1000)
								.col-md-6.col-xl-4
									+main-product-card(' Язык (говядина)', 'catalog-products/7', 1000, 'Фермерское мясо', 500)
								.col-md-6.col-xl-4
									+main-product-card(' Глазной мускул (говядина) ', 'catalog-products/8', 650, 'Фермерское мясо', 1000)
								.col-md-6.col-xl-4
									+main-product-card('Вырезка (говядина)  ', 'catalog-products/9', 650, 'Фермерское мясо', 1000)