section.main-cta.lazy(data-src="img/main/parallax.png")
	
	.title-group.text-center
		.title-group--blur
		.title-group--text
			h2.title-2  Лучшие продукты для вашего стола 
			p Только самые лучшие поставщики и производители продуктов к вашим услугам в нашем магазине
	
