section.main-menu#main-menu
	.container
		.title-group
			h2.title-2 Выбор покупателей
		.menu-products__content
			.row
				.col-md-6.col-xl-4
					+main-product-card('Шелковица Армения', 'product1', 500, 'Урожай 2020 года', 630)
				.col-md-6.col-xl-4
					+main-product-card('Крыжовник Россия', 'product2', 500, 'Урожай 2020 года', 500, 800)
				.col-md-6.col-xl-4
					+main-product-card('Арбуз нарезанный Иран', 'product3', 450, 'Урожай 2020 года', 350)
				.col-md-6.col-xl-4
					+main-product-card('Баклажаны', 'product4', 500, 'Урожай 2020 года', 630)
				.col-md-6.col-xl-4
					+main-product-card('Evian минеральная 24 штук по 0.5 л', 'product5', 650, 'Урожай 2020 года', 700)
				.col-md-6.col-xl-4
					+main-product-card(' Говядина на костях', 'product6', 650, ' Фермерское мясо', 700)
				.col-md-6.col-xl-4
					+main-product-card('Картофель Египет гала', 'product7', 650, 'Урожай 2020 года', 700)
				.col-md-6.col-xl-4
					+main-product-card(' Дорадо очищенное 1 шт.', 'product8', 650, 'Вылов 2020 года', 700)
				.col-md-6.col-xl-4
					+main-product-card('Питахайя Тайланд ', 'product9', 650, 'Урожай 2020 года', 700)
					
					
				