.hidden-layout
section.product-page
	.container
		h1.page-title Шелковица Армения
		.product-page__content
			.row
				.col-lg-5.col-xl-6
					.fotorama.fotorama--product(data-nav="thumbs")
						a(href="img/main/fotorama/1.jpg")
							img(src="img/main/fotorama/thumb1.jpg" width='160' height="115")
						a(href="img/main/fotorama/1.jpg")
							img(src="img/main/fotorama/thumb1.jpg" width='160' height="115")
						a(href="img/main/fotorama/1.jpg")
							img(src="img/main/fotorama/thumb1.jpg" width='160' height="115")
						a(href="img/main/fotorama/1.jpg")
							img(src="img/main/fotorama/thumb1.jpg" width='160' height="115")
				.col-lg-7.col-xl-6
					.product-set
						.product-set__row
							.text-16.ingredients
								p Урожай 2020 года
							
							.text-16--light
								p Вес: 500гр

						.product-set__row.product-set__row-wrap
							.product-card__filters
								.text-16
									p Шелковица – небольшие мясистые плоды, которые имеют форму костянок 2-3 см. Ягоды сочные, сладкие и имеют приятный аромат. Шелковица в зависимости от сорта может по цвету варьироваться от красного до темно-фиолетового почти черного и от белого до розового. Шелковичное дерево плодоносит ежегодно и очень обильно. Урожай одного дерева может составлять более 200 кг. Первые плоды начинают зреть в середине июля. Основной период созревания приходит на конец июля начало августа.
						.product-set__row.product-set__column
							.text-16--bold.mb-19 Дополнительно:
							.product-set__types.d-flex
								.products-optional__List
									.form-group
										input(type="radio" id="op1" name='optional' )
										label(for="op1")
											span Стандартная упаковка
									.form-group
										input(type="radio" id="op2" name='optional' )
										label(for="op2")
											span Упаковка с дополнительными хладагентами + 300 руб.
									.form-group
										input(type="radio" id="op3" name='optional' )
										label(for="op3")
											span Жесткая упаковка в деревянные коробки + 150 руб.
						.product-set__footer
							.total-amount
								div.d-flex
									span.title-16--bold Количество:
									+counter 
									.basket-item__cost
										.basket-item__cost-val.title-34 350
										.basket-item__cost-dim руб
								button.page-button.page-button--red В корзину
